[submodule "ass1"]
	path = ass1
	url = https://github.com/mtriSE/ass1.git
[submodule "ass2"]
	path = ass2
	url = https://github.com/mtriSE/ass2.git
[submodule "ass3"]
	path = ass3
	url = https://github.com/mtriSE/ass3.git
[submodule "draft-ass3"]
	path = draft-ass3
	url = https://github.com/mtriSE/ppl-ass3-example.git
[submodule "ass4"]
	path = ass4
	url = https://github.com/mtriSE/ass4
[submodule "draft-ass4"]
	path = draft-ass4
	url = https://github.com/mtriSE/ppl-ass4-example.git
